<!DOCTYPE html>
<html>

<style>
    p{margin-left:3em}

	form {color: white;
		margin-top:50px;
		margin: auto;
		width:45%;
		margin-bottom:50px;
		;
	}
	.submit {
		background-color:black
		color:white;
		;
	}
	
</style>



<head>
    <link rel="stylesheet" href="style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<title>Heart Attack Prediction Risk(RFM)</title>
    
</head>

<body style="background-color:black">
	<h1><div style= "text-align:center; background-color:black"><font color='white'>Heart Attack Risk Prediction (RFM) </font></h1>
	<p style="background-color:black"><font color='white'><br>Author: Dr. Z. Ritter<br>
	model accuracy: 0.836<br>Area Under the Curve (AUC), false positive rate vs. true positive rate: 0.91<br>
	Highest 5 feature importances: rate of influence of an item on the prediction<br>
	chest pain (0.142), ST depression induced by exercise (0.117), maximun heart rate (0.116), thalassemia (0.115), cholesterol (0.090)<br>
	
	</font></p>
    </div>
	</br>
	
	<legend><div style="text-align:center; background-color:black"><font color='white'>Input Variables</div></legend>
	

	</br>

	<div class='container', style="background-color:maroon">
		<div class='row'>
			<div-class='col-14'>
				<form method="POST" action="/predict">
				
					<div class='form-group'>
					<br>enter age in years<br>
					<input name="age",type="text", class="form-control" required>
					<br>
					
					<br>sex, 0 = female, 1 = male<br>
					<input type='text' name="sex", class="form-control" required><br>
	
						
					<br>chest pain: 0:typical angina, 1 = atypical angina, 2 = non-anginal pain, 3 = asymptomatic<br>
					<input type='text' name="cp", class="form-control" required><br>
							

					<br>resting blood pressure (mm Hg on admission to the hospital)<br>
					<input type='text' name="trtbps", class="form-control" required><br>
						
						
					<br>cholesterol in mg/dl<br>
					<input type='text' name="chol", class="form-control" required><br>


					
					<br>fasting blood sugar (> 120 mg/dl, 1 = true, 0 = false)<br>
					<input type='text' name="fbs", class="form-control" required><br>

						

					<br>resting electrocardiographic measurement (0 = normal, 1 = having ST-T wave abnormality, 2 = probable or definite left ventricular hypertrophy)<br>
					<input type='text' name="restecg", class="form-control" required><br>


					<br>maximum heart rate achieved<br>
					<input type='text' name="thalachh", class="form-control" required><br>


					<br>exercise induced angina (1 = yes; 0 = no)<br>
					<input type='text' name="exng", class="form-control" required><br>

					<br>ST depression induced by exercise relative to rest (ST relates to positions on the ECG plot)<br>
					<input type='text' name="oldpeak", class="form-control" required><br>

					<br>slope of the peak exercise ST segment (0 = upsloping, 1 = flat, 2 = downsloping<br>
					<input type='text' name="slp", class="form-control" required><br>


					<br>number of major vessels (0-3)<br>
					<input type='text' name="caa", class="form-control" required><br>
					
					<br>on thalassemia blood disorder (1 = normal, 2 = fixed defect, 3 = reversable defect)<br>
					<input type='text' name="thall", class="form-control" required><br>
					</div>
			
					<input class='btn btn-primary submit' type='submit' value='Submit'>

					</form>
			</div>
			
		</div>
	</div>
	
	
	<br>
	
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>